root {
  color-scheme: light dark;
}

a {
  text-decoration: none; /* Remove underline from text links */
  line-height: 150%;
}

a-comment {
  background-color: #0088ff; /* Set the background color to a shade of blue */
  border: 2px solid #bbb; /* Set the width, the style, and the color of the border */
  box-shadow: 0 7px 7px -7px #000;
  color: #fff; /* Set the text color to white */
  display: none;
  font-size: 11.25px; /* Set the font size of the text */
  font-family: Verdana, sans-serif; /* Set the font family to "Verdana" and sans-serif */
  font-weight: normal; /* Set the font weight of the text */
  line-height: 1.5;
  margin: 0;
  padding: 3px 4px; /* Set the thickness of the padding area */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: -25.5px; /* Place the element 25.5 pixels from the left edge of its positioned ancestor */
  text-shadow: 2px 2px 5px #0099ff;
  transform: translate(-25px, 0);
  white-space: pre-wrap;
  width: 115px;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

a-comment:hover {
  background-color: #0099ff; /* Set the background color to a shade of blue */
  transition: 0.25s; /* Set an effect of a transition */
}

body {
  color: #373737;
  font-family: Verdana, sans-serif; /* Set the font family to "Verdana" and sans-serif */
  height: 100%;
  margin: 0 10vw 0;
  max-width: 80vw;
  padding: 0; /* Remove any default padding */
}

main {
  margin-bottom: 29px; /* Set the bottom margin to 29 pixels */
}

main>ul {
  font-size: 20px; /* Set the font size of the text */
  display: block;
  list-style-type: disc;
}

best-practices {
  margin: 0 0 20px;
  border: 1px solid #318ce7; /* Set the width, the style, and the color of the border */
  padding: 25px 10px 10px; /* Set the thickness of the padding area */
  display: block;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

best-practices>p {
  font-size: 16px; /* Set the font size of the text */
}

best-practices>ul {
  display: block;
  list-style-type: inherit;
}

button {
  overflow: hidden;
}

button:active {
  box-shadow: none;
  transition: 0.7s;
}

code {
  background: #333;
  color: #fff; /* Set the text color to white */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  font-size: 100%; /* Set the font size of the text */
  line-height: 150%;
  padding: 3.5px 3.5px; /* Set the thickness of the padding area */
  color: #318ce7;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

codeblock {
  position: relative;
  display: block;
  margin: 1em 0;
  border: none;
  padding: 5px; /* Set the thickness of the padding area */
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #318ce7;
  font-size: 100%; /* Set the font size of the text */
  line-height: 150%;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

/* A Copy button inside a Codeblock*/
codeblock>button {
  background-color: #318ce7;
  border: none;
  color: #fff; /* Set the text color to white */
  cursor: pointer;
  margin: 0;
  top: 0;
  right: 0;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  padding: 5px 20px; /* Set the thickness of the padding area */
  outline: none;
  transition: 1s;
  width: 100px; /* The fixed width for a Copy button */
  z-index: 1; /* Set the stacking order of the element */
  font-family: "Segoe UI", Arial, sans-serif; /* Set the font family to "Segoe UI", "Arial", and sans-serif */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

comment-tag {
  background: -moz-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -ms-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -o-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -webkit-linear-gradient(#006fab 25%, #0099ff 100%);
  background: linear-gradient(#006fab 5%, #0099ff 100%);
  box-shadow: 0 1px 2px #bbb;
  color: #fff; /* Set the text color to white */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  font-size: 14px; /* Set the font size of the text */
  font-weight: normal; /* Set the font weight of the text */
  height: 20px;
  margin: 0;
  padding: 0 4px 2px; /* Set the thickness of the padding area */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: -8vw; /* Place the element 8% of the viewport width from the left edge of its positioned ancestor */
  text-shadow: 2px 2px 5px #0099ff;
  transition: 0.25s; /* Set an effect of a transition */
  white-space: pre-wrap;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

comment-tag:before {
  content: "comment";
}

comment-tag:hover {
  cursor: pointer;
  transition: 0.25s; /* Set an effect of a transition */
}

dataType {
  background-color: #4c8abd;
  box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  color: #fff; /* Set the text color to white */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  font-size: 14px; /* Set the font size of the text */
  margin: 0 0 0 7px;
  padding: 3px 4px 3px; /* Set the thickness of the padding area */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

dataType dataType {
  display: none;
}

dd {
  margin-bottom: 17px; /* Set the bottom margin to 17 pixels */
  overflow: auto;
}

dd ul {
  display: block;
  list-style-type: disc;
}

dd ul li {
  list-style-type: disc;
}

dd p {
  font-size: inherit; /* Set the font size of the text */
  margin: 17px 0;
}

details {
  position: relative;
  text-align: center; /* Set the alignment of the text */
}

details>p {
  background-color: #eee;
  box-shadow: 1px 1px 2px #bbb;
  margin: 0;
  padding: 4px; /* Set the thickness of the padding area */
}

details>summary {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  border: none;
  box-shadow: none;
  color: #fff; /* Set the text color to white */
  cursor: pointer;
  display: block;
  font-size: 25px; /* Set the font size of the text */
  font-weight: normal; /* Set the font weight of the text */
  height: 50%;
  margin-bottom: 25px; /* Set the bottom margin to 25 pixels */
  max-width: 100%; /* Set the width of the element to 100% of its parent container */
  padding: 25px; /* Set the thickness of the padding area */
  text-align: center; /* Set the alignment of the text */
  transition: 0.25s; /* Set an effect of a transition */
}

details>summary:hover {
  box-shadow: 1px 1px 2px #bbb;
  transition: 0.25s; /* Set an effect of a transition */
}

details>ul {
  font-size: 20px; /* Set the font size of the text */
  list-style-type: none;
  margin: 20px 0;
  padding: 0; /* Remove any default padding */
}

dl {
  line-height: 150%;
  margin-bottom: 0; /* Remove any default bottom margin */
}

dt {
  font-weight: bold; /* Set the font weight of the text */
  margin-bottom: 7px; /* Set the bottom margin to 7 pixels */
}

footer {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
  color: #fff; /* Set the text color to white */
  left: 0;
  margin: 0;
  padding: 1em 0; /* Set the thickness of the padding area */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  text-align: center; /* Set the alignment of the text */
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

footer a {
  color: #fff; /* Set the text color to white */
  text-decoration: underline;
}

footer a:visited {
  color: #fff; /* Set the text color to white */
}

footerLowerLC {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
  bottom: 0;
  color: #fff; /* Set the text color to white */
  left: 0;
  margin: 0;
  padding: 1em 0; /* Set the thickness of the padding area */
  position: fixed; /* Position the element fixed to the viewport */
  text-align: center; /* Set the alignment of the text */
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

footerLowerMC a {
  color: #fff; /* Set the text color to white */
  text-decoration: underline;
}

footerLowerMC a:visited {
  color: #fff; /* Set the text color to white */
}

@media (max-width: 1250px) {
  footerLowerMC {
    position: absolute; /* Position the element absolutely within its positioned ancestor */
    bottom: auto;
  }
}

footerLowerMC {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
  color: #fff; /* Set the text color to white */
  left: 0;
  margin: 0;
  padding: 1em 0; /* Set the thickness of the padding area */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  text-align: center; /* Set the alignment of the text */
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

footerLowerLC a {
  color: #fff; /* Set the text color to white */
}

footerLowerLC a:visited {
  color: #fff; /* Set the text color to white */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif; /* Set the font family to "Segoe UI", "Arial", and sans-serif */
  margin-top: 25px;
  padding-top: 0;
  word-wrap: break-word;
}

h3 {
  font-size: 20px; /* Set the font size of the text */
}

html {
  height: 100%;
  scroll-behavior: smooth;
  transition: 0.5s;
  /*
  background-image: url(../pics/real-estate-10-920x518.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100vw 100vh;*/
}

hr {
  width: 57.5vw; /* Set the width of the horizontal rule to 57.5% of the viewport width */
  display: inline-block; /* Set the display property to inline-block, allowing the element to sit alongside other inline elements */
}

img {
  font-size: 50px; /* Set the font size of the text */
}

indent {
  padding-left: 22px;
}

li {
  margin: 2vh 0;
  line-height: 1.5em;
}

li:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

li>a:hover {
  color: #318ce7;
  text-decoration: none; /* Remove underline from text links */
}

note {
  /* Notes highlight information by separating it from the regular, main content. */
  display: block;
  margin: 2.5px 0 20px;
  border: 2px solid #1071e5; /* Set the width, the style, and the color of the border */
  padding: 5px 10px 10px; /* Set the thickness of the padding area */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

note>ul {
  margin: 0.5vh 0;
}

note>p {
  font-size: 16px; /* Set the font size of the text */
  margin: 10px 0;
}

note>pre {
  margin: 0;
}

optionalityDegreeO {
  background-color: #03d4db;
  box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  color: #fff; /* Set the text color to white */
  font-size: 14px; /* Set the font size of the text */
  font-weight: normal; /* Set the font weight of the text */
  padding: 3px 4px 3px; /* Set the thickness of the padding area */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  margin: 0;
  white-space: pre-wrap;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  text-shadow: 2px 2px 5px #3bacb6;
  transform: translate(-150px, 0);
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  transition: 0.5s;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

optionalityDegreeO:before {
  content: "опционально";
}

optionalityDegreeR {
  background-color: #3bacb6;
  /*background-color: rgb(0,0,180);*/
  box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  color: #fff; /* Set the text color to white */
  font-size: 14px;
  font-weight: normal; /* Set the font weight of the text */
  padding: 3px 4px 3px; /* Set the thickness of the padding area */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  margin: 0;
  white-space: pre-wrap;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  transform: translate(-150px, 0);
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  transition: 0.5s;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

optionalityDegreeR:before {
  content: "обязательно";
}

optionalityDegreeU {
  background-color: #5c7ef7; /* Set the background color to a shade of blue */
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  color: #fff; /* Set the text color to white */
  font-size: 14px; /* Set the font size of the text */
  font-weight: normal; /* Set the font weight of the text */
  padding: 3px 4px 3px; /* Set the thickness of the padding area */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  margin: 0;
  white-space: pre-wrap;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  transform: translate(-150px, 0);
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  transition: 0.5s;
}

optionalityDegreeU:before {
  content: "неактуально";
}

p {
  line-height: 1.7; /* Set the line height */
  margin: 20px 0px;
  font-size: 20px; /* Set the font size of the text */
}

indent {
  width: 10px;
}

p a {
  text-decoration: underline;
}

paramType {
  background-color: #0047ab; /* Set the background color to a shade of blue */
  box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  color: #fff; /* Set the text color to white */
  font-size: 14px;
  font-weight: normal; /* Set the font weight of the text */
  padding: 3px 4px 3px; /* Set the thickness of the padding area */
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  margin: 0;
  white-space: pre-wrap;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

.screenshot {
  max-width: 80vw;
}

section:hover>ol>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ol>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ol>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

table {
  border-collapse: collapse;
  box-sizing: inherit;
  display: table;
  margin-bottom: 20px; /* Set the bottom margin to 20 pixels */
  overflow-x: scroll;
  position: relative;
  table-layout: fixed;
}

td {
  padding: 1vh 1vw; /* Set the thickness of the padding area */
}

td p {
  margin: 0;
  font-size: inherit; /* Set the font size of the text */
  line-height: 1.4;
}

th {
  background-color: #0088ff; /* Set the text color to a shade of blue */
  color: #fff; /* Set the text color to white */
  padding: 5px; /* Set the thickness of the padding area */
}

ul {
  list-style: none;
  margin-top: 10px;
  /* Use flexbox to center content inside the element */
  display: flex;
  justify-content: center; /* Center items horizontally*/
  flex-direction: column;
}

ul>li>ul {
  display: block;
  list-style: inherit;
}

ul>li>a {
  text-decoration: none !important;
}

ol {
  font-size: 20px; /* Set the font size of the text */
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* classes */
.img-inline {
  transform: translate(0, 20%);
  width: auto;
  height: 30px;
}

.text-center {
  text-align: center; /* Set the alignment of the text */
}

.doc-list {
  margin-bottom: 50px; /* Set the bottom margin to 50 pixels */
  position: relative;
  text-align: center; /* Set the alignment of the text */
  transition: 0.5s;
}

.doc-list-item {
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  color: #fff; /* Set the text color to white */
  display: block;
  height: 50%;
  margin: 0;
  max-width: 100%; /* Set the width of the element to 100% of its parent container */
  text-align: center; /* Set the alignment of the text */
  transition: 0.5s;
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

.doc-list-item:hover {
  transition: 0.5s;
}

.doc-list-item a {
  color: #fff !important; /* Set the text color to white */
  display: block;
  font-size: 25px; /* Set the font size of the text */
  height: 50%;
  margin: 25px 0;
  text-align: center; /* Set the alignment of the text */
  text-decoration: none; /* Remove underline from text links */
  padding: 25px; /* Set the thickness of the padding area */
}

.glossary {
  font-size: 20px; /* Set the font size of the text */
  margin-top: 10vh;
}

.list-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; /* Set the bottom margin to 20 pixels */
  padding: 0; /* Remove any default padding */
  font-size: 18px; /* Set the font size of the text */
  text-align: center; /* Set the alignment of the text */
  text-decoration: underline;
}

.list-link:hover {
  color: #318ce7; /* Set the text color to a shade of blue */
}

#cards {
  text-align: center; /* Set the alignment of the text */
  font-family: "Sono", sans-serif; /* Set the font family to "Sono" and sans-serif */
  font-size: 1.7vh; /* Set the font size of the text */
  height: 80vh;
  width: 100%; /* Set the width of the element to 100% of its parent container */
  /* Use flexbox to center content inside the element */
  display: flex;
  gap: 2.5vw;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
}

#cards:hover>.card::after {
  opacity: 0.01;
}

.card {
  position: relative;
  width: calc(100% - 2px);
  min-width: 275px;
  min-width: 20vw;
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
  /* Use flexbox to center content inside the element */
  display: flex;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 10px; /* For older versions of Safari */
  -moz-border-radius: 10px; /* For older versions of Firefox */
  -o-border-radius: 10px; /* For older versions of Opera */
  border-radius: 10px; /* Standard property for border radius */
}

.card-content {
  height: 37vh;
  margin: 1px;
  z-index: 2; /* Set the stacking order of the element */
  /* Use flexbox to center content inside the element */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: inherit; /* For older versions of Safari */
  -moz-border-radius: inherit; /* For older versions of Firefox */
  -o-border-radius: inherit; /* For older versions of Opera */
  border-radius: inherit; /* Standard property for border radius */
}

.card-dark-theme::before {
  background: radial-gradient(500px circle,
      rgba(255, 255, 255, 0.1),
      transparent 90%);
  z-index: 3; /* Set the stacking order of the element */
}

.card-dark-theme::after {
  background: radial-gradient(500px circle,
      rgba(255, 255, 255, 0.4),
      transparent 50%);
  z-index: 1; /* Set the stacking order of the element */
}

.card-light-theme::before {
  background: radial-gradient(500px circle,
      rgba(255, 255, 255, 0.1),
      transparent 90%);
  z-index: 3; /* Set the stacking order of the element */
}

.card-light-theme::after {
  background: radial-gradient(500px circle,
      rgba(255, 255, 255, 0.4),
      transparent 50%);
  z-index: 1; /* Set the stacking order of the element */
}

.card::before,
.card::after {
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 0px;
  transition: opacity 500ms;
  width: 100%; /* Set the width of the element to 100% of its parent container */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: inherit; /* For older versions of Safari */
  -moz-border-radius: inherit; /* For older versions of Firefox */
  -o-border-radius: inherit; /* For older versions of Opera */
  border-radius: inherit; /* Standard property for border radius */
}

.card:hover::before {
  opacity: 1;
}

.card-label {
  width: 100%; /* Set the width of the element to 100% of its parent container */
  height: 5vh; /* Set the height of the card label to 5% of the viewport height */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: -20px; /* Place the card label 20 pixels above */
  padding: 0.5vh 0 2vh; /* Set the thickness of the padding area */
  background-color: #fff; /* Set the background color to white */
  color: #008cff; /* Set the text color to a shade of blue */
  font-family: "Sono", sans-serif; /* Set the font family to "Sono" and sans-serif */
  font-size: 14px; /* Set the font size of the text */
  text-align: center; /* Set the alignment of the text */
  z-index: -1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the card label */
  -webkit-border-radius: 10px; /* For older versions of Safari */
  -moz-border-radius: 10px; /* For older versions of Firefox */
  -o-border-radius: 10px; /* For older versions of Opera */
  border-radius: 10px; /* Standard property for border radius */
}

.card-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1vh 0; /* Set the thickness of the padding area */
  font-weight: bold; /* Set the font weight of the text */
  font-size: 2.5vh; /* Set the font size of the text */
  color: #fff; /* Set the text color to white */
  background: -moz-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -ms-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -o-linear-gradient(#007fff 25%, #318ce7 100%);
  background: -webkit-linear-gradient(#007fff 25%, #318ce7 100%);
  background: linear-gradient(#007fff 25%, #318ce7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007fff 30%, #007fff 70%, #fff 95%); */
}

.plan-price {
  font-weight: bold; /* Set the font weight of the text */
  font-size: 4.5vh; /* Set the font size of the text */
  padding: 1vh 0; /* Set the thickness of the padding area */
}

.currency {
  font-size: 2vh; /* Set the font size of the text */
}

.plan-conditions {
  font-size: 2vh; /* Set the font size of the text */
}

.plan-features {
  text-align: center; /* Set the alignment of the text */
  padding: 0; /* Remove any default padding */
  flex-basis: 50%;
}

.plan-features>li {
  font-size: 3vh; /* Set the font size of the text */
}

.plan-button {
  background-color: #ed7031;
  color: #fff; /* Set the text color to white */
  padding: 0.75vh; /* Set the thickness of the padding area */
  border-width: 0; /* Remove any default border width */
  margin-bottom: 1vh; /* Set the bottom margin to 1% of the viewport height */
  font-size: 2.5vh; /* Set the font size of the text */
  display: none;
  /* Apply a border radius to round the corners of the plan button */
  -webkit-border-radius: 5px; /* For older versions of Safari */
  -moz-border-radius: 5px; /* For older versions of Firefox */
  -o-border-radius: 5px; /* For older versions of Opera */
  border-radius: 5px; /* Standard property for border radius */
}

.plan-button:hover {
  cursor: pointer;
}

@media (max-width: 1250px) {
  #cards {
    height: 100%;
    margin: 2.5vh 0;
    /* Use flexbox to center content inside the element */
    display: flex;
    gap: 6vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .card {
    max-width: 500px;
    margin-top: 0;
    padding-top: 0;
  }

  .card-content {
    width: calc(100% - 2px);
    margin-top: 0;
    padding-top: 0;
    /* Use flexbox to center content inside the element */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
  }

  .card-title {
    padding: 1vh 0; /* Set the thickness of the padding area */
    width: 100%; /* Set the width of the element to 100% of its parent container */
  }

  ul {
    max-width: 100vw;
  }
}

.title {
  margin: 2.5vh 0 0;
}

.to-top {
  background: #0088ff; /* Set the background color to a shade of blue */
  position: fixed; /* Position the element fixed to the viewport */
  bottom: 56px; /* Place the element 56 pixels from the bottom edge of its positioned ancestor */
  right: 25px; /* Place the element 25 pixels from the right edge of its positioned ancestor */
  width: 45px; /* Set the width of the element to 45 pixels */
  height: 45px; /* Set the height of the element to 45 pixels */
  z-index: 1; /* Set the stacking order of the element */
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  font-size: 16px; /* Set the font size of the text */
  text-decoration: none; /* Remove underline from text links */
  pointer-events: none; /* Deactivate pointer events */
  transition: 0.25s; /* Set an effect of a transition */
  /* Use flexbox to center content inside the element */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally*/
  /* Apply a border radius to make the element circular */
  -webkit-border-radius: 50%; /* For older versions of Safari */
  -moz-border-radius: 50%; /* For older versions of Firefox */
  -o-border-radius: 50%; /* For older versions of Opera */
  border-radius: 50%; /* Standard property for border radius */
}

.to-top.active {
  bottom: 56px; /* Place the element 56 pixels from the bottom edge of its positioned ancestor */
  pointer-events: auto;
  opacity: 1;
}

.w3c {
  border: 0;
  display: block;
  height: 30px;
  margin: 1em 0 1em auto;
  right: 0;
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

.response-codes col:nth-of-type(1){
  width: 20%;
}

.response-codes col:nth-of-type(2){
  width: 80%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* identifiers */

#amp {
  font-family: Arial, sans-serif;
}

#mainResourceName, #resourceName, #capitalizedResourceName, #subResourceName {
  display: none;
}

#container {
  height: 100%;
  position: relative;
}

#container-button {
  position: relative;
  overflow: hidden;
}

#footerContainer {
  margin: 0;
  padding: 0; /* Remove any default padding */
}

#footerContainerLower {
  margin: 0;
  padding: 0; /* Remove any default padding */
}

#header {
  color: #007fff;
  font-family: "Segoe UI", Arial, sans-serif; /* Set the font family to "Segoe UI", "Arial", and sans-serif */
  left: 50%;
  margin: 0;
  max-width: 100%; /* Set the width of the element to 100% of its parent container */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  text-align: center; /* Set the alignment of the text */
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

#header-index {
  color: #007fff;
  font-family: "Segoe UI", Arial, sans-serif; /* Set the font family to "Segoe UI", "Arial", and sans-serif */
  left: 50%;
  margin: 0;
  max-width: 100%; /* Set the width of the element to 100% of its parent container */
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  text-align: center; /* Set the alignment of the text */
  top: 52.5%;
  transform: translate(-50%, -50%);
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

logo-img {
  /* Use flexbox to center content inside the element */
  display: flex;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
}

#logo {
  zoom: 35%;
}

#toc {
  text-align: left; /* Set the alignment of the text */
}

#toc summary {
  margin: 0;
}

#toc>ul {
  display: block;
  padding: 15px 15px 5px; /* Set the thickness of the padding area */
  border: 1px solid #0088ff; /* Set the width, the style, and the color of the border */
  margin: 0;
}

menu-container {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 5px; /* Place the element 5 pixels from the top edge of its positioned ancestor */
  right: 5px; /* Place the element 5 pixels from the right edge of its positioned ancestor */
}

#menu-container {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 5px; /* Place the element 5 pixels from the right edge of its positioned ancestor */
  width: calc(35px + 1vw);
  height: 57px;
  /* Use flexbox to center content inside the element */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* Center items vertically */
}

#menu-title {
  font-size: 17px; /* Set the font size of the text */
  cursor: pointer;
}

#menu-button {
  display: inline-block; /* Set the display property to inline-block, allowing the element to sit alongside other inline elements */
  cursor: pointer;
  overflow: hidden;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #318ce7;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;  /* Set the initial opacity to 0 (invisible) */
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.dropdown {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  display: block;
  right: 0;
  z-index: 2; /* Set the stacking order of the element */
}

.dropdown-content {
  display: none;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 57px; /* Place the element 57 pixels from the top edge of its positioned ancestor */
  min-width: 142px;
  min-height: 307px;
  z-index: 1; /* Set the stacking order of the element */
  border: 1px solid #318ce7; /* Set the width, the style, and the color of the border */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 10px; /* For older versions of Safari */
  -moz-border-radius: 10px; /* For older versions of Firefox */
  -o-border-radius: 10px; /* For older versions of Opera */
  border-radius: 10px; /* Standard property for border radius */
}

.show {
  display: block;
}

nav-links {
  display: inline-block; /* Set the display property to inline-block, allowing the element to sit alongside other inline elements */
  margin: 1vh 0;
  font-size: 18px; /* Set the font size of the text */
}

nav-links a {
  text-decoration: underline;
}

#w3c-img {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 10vw; /* Place the element 10% of the viewport width from the right edge of its positioned ancestor */
}

#w3c-img>img {
  width: 77px;
  height: auto;
}

#w3c-text {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  display: inline-block; /* Set the display property to inline-block, allowing the element to sit alongside other inline elements */
  right: calc(10vw + 77px);
  font-size: 14px; /* Set the font size of the text */
  color: #318ce7;
  text-decoration: none; /* Remove underline from text links */
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Dark theme and buttons */
#switchyContainerRelative {
  display: block;
  position: relative;
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

#switchyContainerAbsolute {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 30px;
  right: 35px;
}

#switchyContainerAbsolute:hover {
  transition: 0.5s;
}

#theme {
  display: block;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 42.5px; /* Place the element 42.5 pixels from the right edge of its positioned ancestor */
  top: 5px;
  transition: 0.5s;
}

sevenpx {
  padding-left: 7px;
}

#switchy {
  border-style: none;
  cursor: pointer;
  display: block;
  height: 35px;
  left: 0;
  position: relative;
  top: 0;
  transition: 0.5s;
  width: 70px;
  z-index: 1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 35px; /* For older versions of Safari */
  -moz-border-radius: 35px; /* For older versions of Firefox */
  -o-border-radius: 35px; /* For older versions of Opera */
  border-radius: 35px; /* Standard property for border radius */
}

#switchy .indicator {
  height: 35px;
  left: 0;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 0;
  transform: scale(0.9);
  transition: 0.5s;
  width: 35px;
  /* Apply a border radius to make the element circular */
  -webkit-border-radius: 50%; /* For older versions of Safari */
  -moz-border-radius: 50%; /* For older versions of Firefox */
  -o-border-radius: 50%; /* For older versions of Opera */
  border-radius: 50%; /* Standard property for border radius */
}

#switchy.active .indicator {
  left: 35px;
}

#editorModeContainerAbsolute {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 70px; /* Place the element 70 pixels from the right edge of its positioned ancestor */
  top: 105px;
}

#edit-doc {
  display: block;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 20px; /* Place the element 20 pixels from the right edge of its positioned ancestor */
  top: 80px;
  transition: 0.5s;
}

#editor-mode {
  border-style: none;
  cursor: pointer;
  display: block;
  height: 35px;
  left: 35px;
  position: relative;
  top: 100%;
  transition: 0.5s;
  width: 70px;
  z-index: 1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 35px; /* For older versions of Safari */
  -moz-border-radius: 35px; /* For older versions of Firefox */
  -o-border-radius: 35px; /* For older versions of Opera */
  border-radius: 35px; /* Standard property for border radius */
}

#editor-mode .indicator {
  height: 35px;
  left: 0;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  top: 0;
  transform: scale(0.9);
  transition: 0.5s;
  width: 35px;
  /* Apply a border radius to make the element circular */
  -webkit-border-radius: 50%; /* For older versions of Safari */
  -moz-border-radius: 50%; /* For older versions of Firefox */
  -o-border-radius: 50%; /* For older versions of Opera */
  border-radius: 50%; /* Standard property for border radius */
}

#editor-mode.editIsActive .indicator {
  left: 35px;
}

#speakContainerRelative {
  display: block;
  position: relative;
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

#speakContainerRelative:hover {
  transition: 0.5s;
}

#speakContainerAbsolute {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 50px; /* Place the element 50 pixels from the right edge of its positioned ancestor */
  top: 0px;
}

#speakContainerAbsolute:hover {
  transition: 0.5s;
}

editor-button~speak-button #speakBtn {
  top: 160px;
}

#speakBtn {
  border-style: none;
  cursor: pointer;
  display: block;
  font-size: 14px; /* Set the font size of the text */
  font-weight: 525; /* Set the font weight of the text */
  height: 57px;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: -45px;
  width: 125px;
  top: 80px;
  transition: 0.5s;
  z-index: 1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 35px; /* For older versions of Safari */
  -moz-border-radius: 35px; /* For older versions of Firefox */
  -o-border-radius: 35px; /* For older versions of Opera */
  border-radius: 35px; /* Standard property for border radius */
}

#speakBtn:hover {
  transition: 0.25s; /* Set an effect of a transition */
}

.speak-inline {
  display: inline-block; /* Set the display property to inline-block, allowing the element to sit alongside other inline elements */
  position: relative;
  width: 37px;
  height: 37px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1; /* Set the stacking order of the element */
}

#screenshotContainerRelative {
  display: block;
  position: relative;
  width: 100%; /* Set the width of the element to 100% of its parent container */
}

#screenshotContainerRelative:hover {
  transition: 0.5s;
}

#screenshotContainerAbsolute {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: 50px; /* Place the element 50 pixels from the right edge of its positioned ancestor */
  top: 0px;
}

#screenshotContainerAbsolute:hover {
  transition: 0.5s;
}

#screenshotBtn {
  border-style: none;
  cursor: pointer;
  display: block;
  font-size: 14px; /* Set the font size of the text */
  font-weight: 525; /* Set the font weight of the text */
  height: 57px;
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  right: -45px; /* Place the element 45 pixels from the left edge of its positioned ancestor */
  width: 125px;
  top: 237px;
  transition: 0.5s;
  z-index: 1; /* Set the stacking order of the element */
  /* Apply a border radius to round the corners of the element */
  -webkit-border-radius: 35px; /* For older versions of Safari */
  -moz-border-radius: 35px; /* For older versions of Firefox */
  -o-border-radius: 35px; /* For older versions of Opera */
  border-radius: 35px; /* Standard property for border radius */
}

#screenshotBtn:hover {
  transition: 0.25s; /* Set an effect of a transition */
}

#ripples {
  position: absolute; /* Position the element absolutely within its positioned ancestor */
  background: #fff; /* Set the background color to white */
  transform: translate(-50%, -50%);
  pointer-events: none; /* Deactivate pointer events */
  animation: animate 0.7s linear infinite;
  /* Apply a border radius to make the element circular */
  -webkit-border-radius: 50%; /* For older versions of Safari */
  -moz-border-radius: 50%; /* For older versions of Firefox */
  -o-border-radius: 50%; /* For older versions of Opera */
  border-radius: 50%; /* Standard property for border radius */
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;  /* Set the initial opacity to 0 (invisible) */
  }
}

/* automatic/manual light theme */
:root, :root.light {
  /* tag variables */
  --a-color: #000;
  --a-visited-color: #000;
  --body-color: #222;
  --code-background-color: #eee;
  --code-color: #222;
  --codeblock-background-color: #f7f7f7;
  --data-type-box-shadow: 0 0.5px 8px 0 #0000001a, 0 3px 20px 0 #0000001a;
  --details-summary-background-color: #fefefe;
  --details-summary-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --hr-background: #1a1a1a;
  --html-background-color: #fff; /* Set the background color to white */
  --input-type-checkbox-filter: invert(0) hue-rotate(0) brightness(1);
  --td-border-bottom: 1px solid #ddd;
  --th-border-bottom: 1px solid #ddd;
  --th-border-left: 0.1px solid #fff;
  /* class variables */
  --class-center-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --class-dropdown-content-background-color: #fff; /* Set the background color to white */
  --class-dropdown-content-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --class-list-link-color: #000;
  --class-no-shadow-hover-box-shadow: unset;
  --class-card-content-background-color: #fff; /* Set the background color to white */
  /* id variables */
  --id-editor-mode-background: #fff; /* Set the background color to white */
  --id-editor-mode-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;
  --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  --id-editor-mode-indicator-box-shadow: 0 8px 20px #0000001a,
    inset 0 4px 4px #fff,
    inset 0 -4px 4px #fff;
  --id-switchy-background: #fff; /* Set the background color to white */
  --id-switchy-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;
  --id-switchy-indicator-background-image: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  --id-switchy-indicator-box-shadow: 0 8px 20px #0000001a,
    inset 0 4px 4px #fff,
    inset 0 -4px 4px #fff;
  --id-screenshot-btn-background: #f2f2f2;
  --id-screenshot-btn-active-background: #e2e2e2;
  --id-screenshot-btn-color: #555;
  --id-screenshot-btn-active-color: #444;
  /*
  --id-screenshot-btn-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;*/
  --id-speak-btn-background: #f2f2f2;
  --id-speak-btn-active-background: #e2e2e2;
  --id-speak-btn-color: #555;
  --id-speak-btn-active-color: #444;
}

/* automatic dark theme */
/* sync this with the manual dark theme below! */
@media (prefers-color-scheme: dark) {
  :root {
    /* tag variables */
    --a-color: #fff; /* Set the text color to white */
    --a-visited-color: #fff; /* Set the text color to white */
    --body-color: #fff; /* Set the text color to white */
    --code-background-color: #333;
    --code-color: #fff; /* Set the text color to white */
    --codeblock-background-color: #2a2a2a;
    --codeblock-box-shadow: 0 4px 8px 0 #ffffff55;
    --data-type-box-shadow: 0 0.5px 8px 0 rgba(256, 256, 256, 0.1), 0 3px 20px 0 rgba(256, 256, 256, 0.1);
    --details-summary-background-color: #333;
    --details-summary-hover-box-shadow: 0 2px 4px 0 rgba(256, 256, 256, 0.2), 0 2px 10px 0 rgba(256, 256, 256, 0.19);
    --hr-background: #555;
    --html-background-color: #222;
    --input-type-checkbox-filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    --td-border-bottom: 1px solid #555;
    --th-border-bottom: 1px solid #555;
    --th-border-left: 0.1px solid #222;
    /* class variables */
    --class-center-hover-box-shadow: 0 4px 8px 0 #ffffff55, 0 6px 20px 0 rgba(256, 256, 256, 0.19);
    --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 #ffffff55, 0 6px 20px 0 rgba(256, 256, 256, 0.19);
    --class-dropdown-content-background-color: #222;
    --class-dropdown-content-box-shadow: 0px 8px 16px 0px #ffffff55;
    --class-list-link-color: #fff; /* Set the text color to white */
    --class-no-shadow-hover-box-shadow: unset;
    --class-card-content-background-color: #2f2f2f;
    /* id variables */
    --id-editor-mode-background: #222;
    --id-editor-mode-box-shadow: inset 0 8px 60px #0000001a,
      inset 0 8px 8px #0000001a,
      inset 0 -4px 4px #0000001a;
    --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #444, #222);
    --id-editor-mode-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px #ffffff55,
      inset 0 -4px 4px #ffffff55;
    --id-switchy-background: #222;
    --id-switchy-box-shadow: inset 0 8px 60px #0000001a,
      inset 0 8px 8px #0000001a,
      inset 0 -4px 4px #0000001a;
    --id-switchy-indicator-background-image: linear-gradient(to bottom, #444, #222);
    --id-switchy-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px #ffffff55,
      inset 0 -4px 4px #ffffff55;
    --id-screenshot-btn-background: #777;
    --id-screenshot-btn-active-background: #555;
    --id-screenshot-btn-color: #f2f2f2;
    --id-screenshot-btn-active-color: #e2e2e2;
    /*
    --id-screenshot-btn-box-shadow: inset 0 8px 60px #0000001a,
      inset 0 8px 8px #0000001a,
      inset 0 -4px 4px #0000001a;*/
    --id-speak-btn-background: #777;
    --id-speak-btn-active-background: #555;
    --id-speak-btn-color: #f2f2f2;
    --id-speak-btn-active-color: #e2e2e2;
  }
}

/* manual dark theme */
/* sync this with the automatic dark theme above! */
:root.dark {
  /* tag variables */
  --a-color: #fff; /* Set the text color to white */
  --a-visited-color: #fff; /* Set the text color to white */
  --body-color: #fff; /* Set the text color to white */
  --code-background-color: #333;
  --code-color: #fff; /* Set the text color to white */
  --codeblock-background-color: #2a2a2a;
  --codeblock-box-shadow: 0 4px 8px 0 #ffffff55;
  --data-type-box-shadow: 0 0.5px 8px 0 rgba(256, 256, 256, 0.1), 0 3px 20px 0 rgba(256, 256, 256, 0.1);
  --details-summary-background-color: #333;
  --details-summary-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --hr-background: #555;
  --html-background-color: #222;
  --input-type-checkbox-filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  --td-border-bottom: 1px solid #555;
  --th-border-bottom: 1px solid #555;
  --th-border-left: 0.1px solid #222;
  /* class variables */
  --class-center-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
  --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
  --class-dropdown-content-background-color: #222;
  --class-dropdown-content-box-shadow: 0px 8px 16px 0px #ffffff55;
  --class-list-link-color: #fff; /* Set the text color to white */
  --class-no-shadow-hover-box-shadow: unset;
  --class-card-background-color: #2f2f2f;
  /* id variables */
  --id-editor-mode-background: #222;
  --id-editor-mode-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;
  --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #444, #222);
  --id-editor-mode-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px #ffffff55,
    inset 0 -4px 4px #ffffff55;
  --id-switchy-background: #222;
  --id-switchy-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;
  --id-switchy-indicator-background-image: linear-gradient(to bottom, #444, #222);
  --id-switchy-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px #ffffff55,
    inset 0 -4px 4px #ffffff55;
  --id-screenshot-btn-background: #777;
  --id-screenshot-btn-active-background: #555;
  --id-screenshot-btn-color: #f2f2f2;
  --id-screenshot-btn-active-color: #e2e2e2;
  /*
  --id-screenshot-btn-box-shadow: inset 0 8px 60px #0000001a,
    inset 0 8px 8px #0000001a,
    inset 0 -4px 4px #0000001a;*/
  --id-speak-btn-background: #777;
  --id-speak-btn-active-background: #555;
  --id-speak-btn-color: #f2f2f2;
  --id-speak-btn-active-color: #e2e2e2;
}

/* variables */
/* tag variables */
a {
  color: var(--a-color);
}

/*a:hover {
  color: var(--a-hover-color);
}*/
a:visited {
  color: var(--a-visited-color);
}

body {
  color: var(--body-color);
}

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
}

codeblock {
  background-color: var(--codeblock-background-color);
  box-shadow: var(--codeblock-box-shadow);
}

comment-tag:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}

dataType {
  box-shadow: var(--data-type-box-shadow);
}

details>summary {
  background-color: var(--details-summary-background-color);
}

details>summary:hover {
  box-shadow: var(--details-summary-hover-box-shadow);
}

hr {
  background: var(--hr-background);
}

html {
  background-color: var(--html-background-color);
}

input[type="checkbox"] {
  filter: var(--input-type-checkbox-filter);
}

td {
  border-bottom: var(--td-border-bottom);
}

th {
  border-bottom: var(--th-border-bottom);
  border-left: var(--th-border-left);
}

/* class variables */
.cell-center {
  text-align: center; /* Set the alignment of the text */
  vertical-align: middle;
}

.cell-center-bold {
  font-weight: bold; /* Set the font weight of the text */
  text-align: center; /* Set the alignment of the text */
  vertical-align: middle;
}

.cell-center-monospace {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  font-size: 17px; /* Set the font size of the text */
  text-align: center; /* Set the alignment of the text */
  vertical-align: middle;
}

.cell-left {
  text-align: left;
  vertical-align: middle;
}

.cell-left-monospace {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace; /* Set the font family to "Menlo", "Monaco", "Lucida Console", "Consolas", and monospace */
  font-size: 17px; /* Set the font size of the text */
  text-align: left; /* Set the alignment of the text */
  vertical-align: middle;
}

.center:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}

.doc-list-item:hover {
  box-shadow: var(--class-doc-list-item-hover-box-shadow);
}

.dropdown-content {
  background-color: var(--class-dropdown-content-background-color);
  box-shadow: var(--class-dropdown-content-box-shadow);
}

.list-link {
  color: var(--class-list-link-color);
}

.no-shadow:hover {
  box-shadow: var(--class-no-shadow-hover-box-shadow);
}

.card {
  background-color: blue;
}

.card-content {
  background-color: var(--class-card-content-background-color);
}

/* id variables */
#editor-mode {
  background: var(--id-editor-mode-background);
  box-shadow: var(--id-editor-mode-box-shadow);
}

#editor-mode .indicator {
  background-image: var(--id-editor-mode-indicator-background-image);
  box-shadow: var(--id-editor-mode-indicator-box-shadow);
}

#switchy {
  background: var(--id-switchy-background);
  box-shadow: var(--id-switchy-box-shadow);
}

#switchy .indicator {
  background-image: var(--id-switchy-indicator-background-image);
  box-shadow: var(--id-switchy-indicator-box-shadow);
}

#screenshotBtn {
  background: var(--id-screenshot-btn-background);
  color: var(--id-screenshot-btn-color);
  /*
  box-shadow: var(--id-screenshot-btn-box-shadow);*/
}

#screenshotBtn:active {
  background: var(--id-screenshot-btn-active-background);
  color: var(--id-screenshot-btn-active-color);
}

#screenshotBtn:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}

#speakBtn {
  background: var(--id-speak-btn-background);
  color: var(--id-speak-btn-color);
  /*
  box-shadow: var(--id-speak-btn-box-shadow);*/
}

#speakBtn:active {
  background: var(--id-speak-btn-active-background);
  color: var(--id-speak-btn-active-color);
}

#speakBtn:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}

/* noscript */
#enable-javascript {
  padding: 0 25vw; /* Set the thickness of the padding area */
  /* Use flexbox to center content inside the element */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items horizontally*/
  align-items: center; /* Center items vertically */
}

noscript details {
  min-width: 50vw;
  text-align: inherit; /* Set the alignment of the text */
}

details:first-of-type {
  margin-top: 5vh;
}

noscript details summary {
  text-align: center; /* Set the alignment of the text */
}

noscript h3 {
  font-size: 30px; /* Set the font size of the text */
}

noscript p {
  min-width: 50vw;
}
