:root {
  color-scheme: light dark;
}

/* tags */
a {
  text-decoration: none;
}

a-comment {
  background-color: #0088ff;
  border: solid 2px #bbb;
  border-radius: 5px;
  box-shadow: 0 7px 7px -7px #000;
  color: #fff;
  display: none;
  font-size: 11.25px;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 3px 4px 3px;
  position: absolute;
  right: -25.5px;
  text-shadow: 2px 2px 5px #0099ff;
  transform: translate(-25px, 0);
  white-space: pre-wrap;
  width: 115px;
}

a-comment:hover {
  background-color: #0099ff;
  transition: 0.25s;
}

body {
  color: #373737;
  font-family: Verdana, sans-serif;
  height: 100%;
  margin: 0 10vw 0;
  max-width: 80vw;
  padding: 0;
}

div.sourceCode>button {
  background-color: #318CE7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px 20px;
  outline: none;
  transition: 1s;
  width: 100px;
  /* A fixed width for the Copy button */
  z-index: 1;
}

.json {
  display: block;
  margin: 0;
  padding: 1vh 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background: #333;
  border-radius: 5px;
  color: #fff;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 100%;
  line-height: 150%;
  padding: 3.5px 3.5px;
}

code span.dt {
  color: #318CE7;
}

code span.er {
  color: #318CE7;
  font-weight: normal;
}

code span.kw {
  color: #318CE7;
  font-weight: normal;
}

comment-tag {
  background: linear-gradient(#006fab 5%, #0099ff 100%);
  background: -moz-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -ms-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -o-linear-gradient(#006fab 25%, #0099ff 100%);
  background: -webkit-linear-gradient(#006fab 25%, #0099ff 100%);
  border-radius: 5px;
  box-shadow: 0 1px 2px #bbb;
  color: #fff;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  margin: 0;
  padding: 0 4px 2px;
  position: absolute;
  right: -8vw;
  text-shadow: 2px 2px 5px #0099ff;
  transition: 0.25s;
  white-space: pre-wrap;
}

comment-tag:before {
  content: "comment";
}

comment-tag:hover {
  box-shadow: var(--class-center-hover-box-shadow);
  cursor: pointer;
  transition: 0.25s;
}

dataType {
  background-color: #4c8abd;
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 14px;
  margin: 0 0 0 7px;
  padding: 3px 4px 3px;
}

dataType dataType {
  display: none;
}

dd {
  margin-bottom: 17px;
}

details {
  position: relative;
  text-align: center;
}

details>p {
  background-color: #eee;
  box-shadow: 1px 1px 2px #bbb;
  margin: 0;
  padding: 4px;
}

details>summary {
  background: linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -moz-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -ms-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -o-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -webkit-linear-gradient(#007FFF 25%, #318CE7 100%);
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: normal;
  height: 50%;
  margin-bottom: 25px;
  max-width: 100%;
  padding: 25px;
  text-align: center;
  transition: 0.25s;
}

details>summary:hover {
  box-shadow: 1px 1px 2px #bbb;
  transition: 0.25s;
}

details>ul {
  font-size: 20px;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin-bottom: 7px;
}

footer {
  background: linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -moz-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -ms-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -o-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -webkit-linear-gradient(#007FFF 25%, #318CE7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007FFF 30%, #007FFF 70%, #fff 95%); */
  color: #fff;
  left: 0;
  margin: 0;
  padding: 1em 0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

footer a {
  color: #fff;
}

footerLower {
  background: linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -moz-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -ms-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -o-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -webkit-linear-gradient(#007FFF 25%, #318CE7 100%);
  /* background: linear-gradient(90deg, #fff 5%, #007FFF 30%, #007FFF 70%, #fff 95%); */
  bottom: 0;
  color: #fff;
  left: 0;
  margin: 0;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

footerLower a {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  margin-top: 0;
  padding-top: 10px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  transition: 0.5s;
}

img {
  font-size: 50px;
}

indent {
  padding-left: 22px;
}

li {
  margin-top: 10px;
}

li:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

li>a:hover {
  color: #318CE7;
  text-decoration: none;
}

optionalityDegreeO {
  background-color: #03d4db;
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 4px 3px;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  margin: 0;
  white-space: pre-wrap;
  position: absolute;
  text-shadow: 2px 2px 5px #3bacb6;
  transform: translate(-150px, 0);
  opacity: 0;
  transition: 0.5s;
}

optionalityDegreeO:before {
  content: "опционально";
}

optionalityDegreeR {
  background-color: #3bacb6;
  /*background-color: rgb(0,0,180);*/
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 4px 3px;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  margin: 0;
  white-space: pre-wrap;
  position: absolute;
  transform: translate(-150px, 0);
  opacity: 0;
  transition: 0.5s;
}

optionalityDegreeR:before {
  content: "обязательно";
}

optionalityDegreeU {
  background-color: rgb(124, 158, 244);
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 4px 3px;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  margin: 0;
  white-space: pre-wrap;
  position: absolute;
  transform: translate(-150px, 0);
  opacity: 0;
  transition: 0.5s;
}

optionalityDegreeU:before {
  content: "неактуально";
}

p {
  line-height: 1.7;
  margin: 20px 0px;
  font-size: 20px;
}

p a {
  text-decoration: underline;
}

paramType {
  background-color: #0047ab;
  border-radius: 5px;
  box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 4px 3px;
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  margin: 0;
  white-space: pre-wrap;
}

section:hover>ol>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ol>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ol>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ol>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-o>optionalityDegreeO {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-r>optionalityDegreeR {
  opacity: 1;
  transition: 0.5s;
}

section:hover>ul>li>ul>li>od-u>optionalityDegreeU {
  opacity: 1;
  transition: 0.5s;
}

table {
  border-collapse: collapse;
  box-sizing: inherit;
  display: table;
  margin-bottom: 20px;
  overflow-x: scroll;
  position: relative;
  table-layout: fixed;
}

td {
  padding: 5px;
}

th {
  background-color: #0088ff;
  color: #fff;
  padding: 5px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* classes */
.doc-list {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  transition: 0.5s;
}

.doc-list-item {
  background: linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -moz-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -ms-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -o-linear-gradient(#007FFF 25%, #318CE7 100%);
  background: -webkit-linear-gradient(#007FFF 25%, #318CE7 100%);
  color: #fff;
  display: block;
  height: 50%;
  margin: 0;
  max-width: 100%;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

.doc-list-item:hover {
  transition: 0.5s;
}

.doc-list-item a {
  color: #fff !important;
  display: block;
  font-size: 25px;
  height: 50%;
  margin: 25px 0;
  text-align: center;
  text-decoration: none;
  padding: 25px;
}

.list-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.list-link:hover {
  color: #318CE7;
}

.sourceCode {
  background-color: #fefefe;
  border-radius: 10px;
  color: #318CE7;
  margin: 0;
  position: relative;
}

.sourceCode.json {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: unset;
  padding: 5px 2px 5px;
}

.sourceCode.powershell span.fu {
  color: #fff;
}

.sourceCode.powershell span.kw {
  color: #fff;
}

.sourceCode.powershell span.op {
  color: #fff;
}

.sourceCode.powershell span.st {
  color: #fff;
}

.w3c {
  border: 0;
  display: block;
  height: 30px;
  margin: 1em 0 1em auto;
  position: relative;
  width: 500px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ids */
#amp {
  font-family: Arial, sans-serif;
}

#capitalizedResourceName {
  display: none;
}

#container {
  height: 100%;
  position: relative;
}

#container-button {
  position: relative;
}

#footerContainer {
  margin: 0;
  padding: 0;
}

#footerContainerLower {
  margin: 0;
  padding: 0;
}

#header {
  color: #007FFF;
  font-family: "Segoe UI", Arial, sans-serif;
  left: 50%;
  margin: 0;
  max-width: 100%;
  position: absolute;
  text-align: center;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#header-index {
  color: #007FFF;
  font-family: "Segoe UI", Arial, sans-serif;
  left: 50%;
  margin: 0;
  max-width: 100%;
  position: absolute;
  text-align: center;
  top: 52.5%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#logo {
  zoom: 35%;
}

#mainResourceName {
  display: none;
}

#resourceName {
  display: none;
}

#w3c-img {
  position: absolute;
  transform: translate(473%, -0.45vw);
}

#w3c-text {
  color: #318CE7;
  position: absolute;
  text-decoration: none;
  transform: translate(24.7%);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* dark theme */
#screenshotContainerRelative {
  display: block;
  position: relative;
  width: 100%;
}

#screenshotContainerRelative:hover {
  transition: 0.5s;
}

#screenshotContainerAbsolute {
  position: absolute;
  right: 0px;
  top: 0px;
}

#screenshotContainerAbsolute:hover {
  transition: 0.5s;
}

#switchyContainerRelative {
  display: block;
  position: relative;
  width: 100%;
}

#switchyContainerAbsolute {
  position: absolute;
  right: -61px;
  top: 30px;
}

#switchyContainerAbsolute:hover {
  transition: 0.5s;
}

#theme {
  display: block;
  position: absolute;
  right: -86px;
  top: 5px;
  transition: 0.5s;
}

#screenshotTitle {
  display: block;
  position: absolute;
  right: -10vw;
  top: 80vh;
  transition: 0.5s;
}

sevenpx {
  padding-left: 7px;
}

#switchy {
  border-radius: 35px;
  border-style: none;
  cursor: pointer;
  display: block;
  height: 35px;
  left: 50%;
  position: relative;
  top: 5%;
  transition: 0.5s;
  width: 70px;
  z-index: 1;
}

#screenshotBtn {
  border-radius: 35px;
  border-style: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 525;
  height: 57px;
  position: relative;
  right: -9.7vw;
  top: 27vh;
  transition: 0.5s;
  z-index: 1;
}

#screenshotBtn:hover {
  transition: 0.25s;
}

a-comment:hover {
  background-color: #0099ff;
}

#switchy .indicator {
  border-radius: 50%;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.9);
  transition: 0.5s;
  width: 35px;
}

#switchy.active .indicator {
  left: 35px;
}

#editorModeContainerAbsolute {
  position: absolute;
  right: -61px;
  top: 105px;
}

#edit-doc {
  display: block;
  position: absolute;
  right: -111px;
  top: 80px;
  transition: 0.5s;
}

#editor-mode {
  border-radius: 35px;
  border-style: none;
  cursor: pointer;
  display: block;
  height: 35px;
  left: 50%;
  position: relative;
  top: 100%;
  transition: 0.5s;
  width: 70px;
  z-index: 1;
}

#editor-mode .indicator {
  border-radius: 50%;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.9);
  transition: 0.5s;
  width: 35px;
}

#editor-mode.editIsActive .indicator {
  left: 35px;
}

/* automatic/manual light theme */
:root, :root.light {
  /* tag variables */
  --a-color: #000;
  --a-visited-color: #000;
  --body-color: #222;
  --code-background-color: #eee;
  --code-color: #222;
  --code-span-fu-color: #06287e;
  --data-type-box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  --details-summary-background-color: #fefefe;
  --details-summary-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --hr-background: #1a1a1a;
  --html-background-color: #fff;
  --input-type-checkbox-filter: invert(0) hue-rotate(0) brightness(1);
  --td-border-bottom: 1px solid #ddd;
  --th-border-bottom: 1px solid #ddd;
  --th-border-left: 0.1px solid #fff;
  /* class variables */
  --class-center-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --class-list-link-color: #000;
  --class-no-shadow-hover-box-shadow: unset;
  --class-sourceCode-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --class-sourceCode-json-background-color: #fefefe;
  /* id variables */
  --id-editor-mode-background: #fff;
  --id-editor-mode-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  --id-editor-mode-indicator-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
  --id-switchy-background: #fff;
  --id-switchy-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  --id-switchy-indicator-background-image: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  --id-switchy-indicator-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
  --id-screenshot-btn-background: #f2f2f2;
  --id-screenshot-btn-active-background: #e2e2e2;
  --id-screenshot-btn-color: #555;
  --id-screenshot-btn-active-color: #444;
  /*
  --id-screenshot-btn-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);*/
}

/* automatic dark theme */
/* sync this with the manual dark theme below! */
@media (prefers-color-scheme: dark) {
  :root {
    /* tag variables */
    --a-color: #fff;
    --a-visited-color: #fff;
    --body-color: #fff;
    --code-background-color: #333;
    --code-color: #fff;
    --code-span-fu-color: #6CB4EE;
    --data-type-box-shadow: 0 0.5px 8px 0 rgba(256, 256, 256, 0.1), 0 3px 20px 0 rgba(256, 256, 256, 0.1);
    --details-summary-background-color: #333;
    --details-summary-hover-box-shadow: 0 2px 4px 0 rgba(256, 256, 256, 0.2), 0 2px 10px 0 rgba(256, 256, 256, 0.19);
    --hr-background: #555;
    --html-background-color: #222;
    --input-type-checkbox-filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    --td-border-bottom: 1px solid #555;
    --th-border-bottom: 1px solid #555;
    --th-border-left: 0.1px solid #222;
    /* class variables */
    --class-center-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
    --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
    --class-list-link-color: #fff;
    --class-no-shadow-hover-box-shadow: unset;
    --class-sourceCode-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    --class-sourceCode-json-background-color: #2a2a2a;
    /* id variables */
    --id-editor-mode-background: #222;
    --id-editor-mode-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #444, #222);
    --id-editor-mode-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    --id-switchy-background: #222;
    --id-switchy-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    --id-switchy-indicator-background-image: linear-gradient(to bottom, #444, #222);
    --id-switchy-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    --id-screenshot-btn-background: #777;
    --id-screenshot-btn-active-background: #555;
    --id-screenshot-btn-color: #f2f2f2;
    --id-screenshot-btn-active-color: #e2e2e2;
    /*
    --id-screenshot-btn-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);*/
  }
}

/* manual dark theme */
/* sync this with the automatic dark theme above! */
:root.dark {
  /* tag variables */
  --a-color: #fff;
  --a-visited-color: #fff;
  --body-color: #fff;
  --code-background-color: #333;
  --code-color: #fff;
  --code-span-fu-color: #6CB4EE;
  --data-type-box-shadow: 0 0.5px 8px 0 rgba(256, 256, 256, 0.1), 0 3px 20px 0 rgba(256, 256, 256, 0.1);
  --details-summary-background-color: #333;
  --details-summary-hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --hr-background: #555;
  --html-background-color: #222;
  --input-type-checkbox-filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  --td-border-bottom: 1px solid #555;
  --th-border-bottom: 1px solid #555;
  --th-border-left: 0.1px solid #222;
  /* class variables */
  --class-center-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
  --class-doc-list-item-hover-box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
  --class-list-link-color: #fff;
  --class-no-shadow-hover-box-shadow: unset;
  --class-sourceCode-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  --class-sourceCode-json-background-color: #2a2a2a;
  /* id variables */
  --id-editor-mode-background: #222;
  --id-editor-mode-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  --id-editor-mode-indicator-background-image: linear-gradient(to bottom, #444, #222);
  --id-editor-mode-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  --id-switchy-background: #222;
  --id-switchy-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  --id-switchy-indicator-background-image: linear-gradient(to bottom, #444, #222);
  --id-switchy-indicator-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  --id-screenshot-btn-background: #777;
  --id-screenshot-btn-active-background: #555;
  --id-screenshot-btn-color: #f2f2f2;
  --id-screenshot-btn-active-color: #e2e2e2;
  /*
  --id-screenshot-btn-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);*/
}

/* variables */
/* tag variables */
a {
  color: var(--a-color);
}

/*a:hover {
  color: var(--a-hover-color);
}*/
a:visited {
  color: var(--a-visited-color);
}

body {
  color: var(--body-color);
}

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
}

code span.fu {
  color: var(--code-span-fu-color);
}

dataType {
  box-shadow: var(--data-type-box-shadow);
}

details>summary {
  background-color: var(--details-summary-background-color);
}

details>summary:hover {
  box-shadow: var(--details-summary-hover-box-shadow);
}

hr {
  background: var(--hr-background);
}

html {
  background-color: var(--html-background-color);
}

input[type="checkbox"] {
  filter: var(--input-type-checkbox-filter);
}

td {
  border-bottom: var(--td-border-bottom);
}

th {
  border-bottom: var(--th-border-bottom);
  border-left: var(--th-border-left);
}

/* class variables */
.cell-center {
  text-align: center;
  vertical-align: middle;
}

.cell-center-bold {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.cell-center-monospace {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
}

.cell-left {
  text-align: left;
  vertical-align: middle;
}

.cell-left-monospace {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 17px;
  text-align: left;
  vertical-align: middle;
}

.center:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}

.doc-list-item:hover {
  box-shadow: var(--class-doc-list-item-hover-box-shadow);
}

.list-link {
  color: var(--class-list-link-color);
}

.no-shadow:hover {
  box-shadow: var(--class-no-shadow-hover-box-shadow);
}

.sourceCode .json {
  background-color: var(--class-sourceCode-json-background-color);
}

.sourceCode {
  box-shadow: var(--class-sourceCode-box-shadow);
}

/* id variables */
#editor-mode {
  background: var(--id-editor-mode-background);
  box-shadow: var(--id-editor-mode-box-shadow);
}

#editor-mode .indicator {
  background-image: var(--id-editor-mode-indicator-background-image);
  box-shadow: var(--id-editor-mode-indicator-box-shadow);
}

#switchy {
  background: var(--id-switchy-background);
  box-shadow: var(--id-switchy-box-shadow);
}

#switchy .indicator {
  background-image: var(--id-switchy-indicator-background-image);
  box-shadow: var(--id-switchy-indicator-box-shadow);
}

#screenshotBtn {
  background: var(--id-screenshot-btn-background);
  color: var(--id-screenshot-btn-color);
  /*
  box-shadow: var(--id-screenshot-btn-box-shadow);*/
}

#screenshotBtn:active {
  background: var(--id-screenshot-btn-active-background);
  color: var(--id-screenshot-btn-active-color);
}

#screenshotBtn:hover {
  box-shadow: var(--class-center-hover-box-shadow);
}
